@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body
{
    height: 100%;
    background-image: url("img/background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.form
{
    width: 250px;
    height: 34 0px;
    color: #fff;
    background: linear-gradient(to top,  rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%,);    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(140%,-100%);
    padding: 40px 25px;
    border-radius: 10px;
    margin-top: 7%;
}
.form h1
{
    width: 200px;
    text-align: top;
    padding-left: 5px;
    font-size: 35px;
    color: #fff;
    margin-bottom: 10px;
}
.form p
{
    padding-bottom: -5px;
}
.form input
{
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 10px;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;

}
.form input[type="submit"]
{
    width: 100%;
    margin-left: 5px;
    border: none;
    height: 50px;
    color: #000;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    
}
.form input[type="submit"]:hover
{
    cursor: pointer;
    background-color: #edb96b;
    color: #fff;
}   
.logo
{
    color: #fec283;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 13%;
}
.header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
}
.header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header ul li
{
    list-style: none;
    margin-left: 20px;
}
.header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
.header ul li a:hover 
{
    color:#fec283;
}
.content 
{
    color:  #fff;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: left;
    margin-top: 20px;  

}
h1
{
    font-size: 50px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.bubbles img
{
    width: 150px;
    animation: bubble 7s linear infinite;
}
.bubbles
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
}
@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

      
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 40px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 30px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 30px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    width: 35px;
    animation-delay: 7s;
}
.button1{

    color: blueviolet;
    position: inherit;
    margin-left: 90%;
    bottom: 40%;
    padding-left: 50;
    border: none;
    height: 40px;
    color: #000;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    width: 65%;
}
.form .button1:hover
{
    cursor: pointer;
    background: #5e9289;
    color: #fff;
}

.header
{
    position: header;
    text-align: center;
    margin: 30px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    align-items: center;
}

#icon
{
    padding: 2px;
    display: flex;
    margin-right: -999px;
}

.copyright
{
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(390%,405%);
    padding: 40px 25px;
}
